<div mat-dialog-title>
  <h1 mat-dialog-title>About</h1>
  <button mat-icon-button class="icon" aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>
    <mat-icon>electric_scooter</mat-icon>
    <!-- strong>eScooter Lviv</strong -->
    – це мій pet-project, мета якого зробити більш зручним пошук найближчого
    електросамоката у Львові.
  </p>
  <p>
    <mat-icon>electric_scooter</mat-icon>
    <!-- strong>eScooter Lviv</strong -->
    не замінює, а доповнює додатки оренди електросамокатів. З його допомогою
    можна побачити всі доступні самокати на карті міста незалежно від сервісу
    оренди та знайти найближчий до користувача за геолокацією. Замовлення оренди
    та інші процеси відбуваються надалі у додатку відповідного сервісу.
  </p>
  <p>
    У даний час підтримується <b>Bolt</b> та <b>E-wings</b>. Сподіваюся
    найближчим часом охопити всі сервіси оренди.
  </p>
  <p>
    Технологічний стек:
    <a href="https://angular.io/" target="_blank">Angular</a>,
    <a href="https://leafletjs.com/" target="_blank">🇺🇦 Leaflet</a>,
    <a
      href="https://www.openstreetmap.org/#map=17/49.83478/24.02202"
      target="_blank"
      >OpenStreetMap</a
    >,
    <a
      href="https://vhudyma-blog.eu/open-mobile-application-from-the-browser/"
      target="_blank"
      >Mobile App Deep Linking</a
    >, Vercel Serverless Function.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button aria-label="Close" mat-dialog-close>
    Зрозуміло
  </button>
</div>
