<div mat-dialog-title>
  <h1 mat-dialog-title>
    <mat-icon>electric_scooter</mat-icon> &nbsp; eScooter
  </h1>
  <button mat-icon-button class="icon" aria-label="Close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>
    <b> Зручний пошук найближчого електросамоката у Львові. </b>
  </p>
  <p>
    Ніколи так не віриш у справедливість Закону Мерфі, як під час пошуку
    електросамоката у годину пік. Блукати далеко бажання нема, а перемикатись
    між застосунками оренди у надії, що хтось залишить поруч, з часом дратує.
  </p>
  <p>
    З цього досвіду виникла ідея показати на одній карті всі електросамокати
    міста Львова незалежно від застосунків оренди.
  </p>

  <p>
    Доступні <b>Bolt</b> та <b>E-wings</b>. Сподіваюся найближчим часом
    приєднати інші сервіси оренди.
  </p>
  <p>
    Зроблено з
    <a href="https://angular.io/" target="_blank">Angular</a>,
    <a href="https://leafletjs.com/" target="_blank">🇺🇦 Leaflet</a>,
    <a
      href="https://www.openstreetmap.org/#map=17/49.83478/24.02202"
      target="_blank"
      >OpenStreetMap</a
    >, <a href="https://www.mapbox.com/" target="_blank">Mapbox</a>,
    <a
      href="https://vhudyma-blog.eu/open-mobile-application-from-the-browser/"
      target="_blank"
      >Mobile Deep Links</a
    >.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button aria-label="Close" mat-dialog-close>
    Класно!
  </button>
</div>
