<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon"
    aria-label="Про проєкт"
    (click)="openDialog()"
  >
    <mat-icon>info</mat-icon>
  </button>
  <span (click)="openDialog()">{{ appTitle }}</span>
  <span class="toolbar-spacer"></span>
  <small (click)="btnReload()">{{ lastUpdate }}</small> &nbsp;
  <button mat-icon-button aria-label="Оновити дані" (click)="btnReload()">
    <mat-icon [class]="loading ? 'rotating' : ''">sync</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
