<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon"
    aria-label="Про проєкт"
    (click)="openDialog()"
  >
    <mat-icon>electric_scooter</mat-icon>
  </button>
  <span (click)="openDialog()">eScooter</span>
  <span class="toolbar-spacer"></span>
  <small (click)="btnReload()">{{ lastUpdated$ | async }}</small> &nbsp;
  <button mat-icon-button aria-label="Оновити дані" (click)="btnReload()">
    <mat-icon [class.rotating]="isLoading$ | async">sync</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
